@import "./variables.scss";

.wrap-breadcrumb{
  .my-breadcrumb{
    display: flex;
    margin: 0;


    .my-breadcrumb-item{
      .my-breadcrumb-link{
        display: block;
        padding: 1em 0;
        font-size: 1em;
        color: #444444;
      }
    }
    .my-breadcrumb-item + .my-breadcrumb-item{
      .my-breadcrumb-link::before{
        content: '\003E';
        padding: .75em;
      }
    }
  }
}