@import "./variables.scss";

@import "./variables.scss";

.right-dashboard{
  width: calc(100% - 250px);
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 250px;

  .main{
    height: 100%;
  }

  @media screen and (max-width: $tablet) {
    width: 100%;
    margin-left: 0px;
  }
}