@import "variables.scss";

#dark-layer{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  transition: all ease-in-out .5s;
}

@media screen and (max-width: $tablet) {
  #dark-layer{
    display: none;
    opacity: 0;
  }

  #dark-layer.active{
    display: block;
    opacity: 1;
  }
}