<div class="wrap-board d-flex">
  <div class="wrap-nav">
    <ul>
      <li>Sản phẩm</li>
      <li>Đơn hàng</li>
      <li>Người dùng</li>
      <li>Thống kê</li>
      <li>Cài đặt</li>
    </ul>
  </div>
  <div class="wrap-header">
    Đây là trang thêm sản phẩm
  </div>
</div>