<main class="overflow-x-hiden overflow-y-auto">
  <div class="gap-md"></div>
  <div class="container-fluid">
    {{!-- <div class="table-control">
      <div class="d-flex justify-content-between align-items-center flex-wrap">
        <div class="d-flex">
          <a href="/dashboard/products/add" class="d-block py-2 mr-lg-4 mr-2">Thêm sản phẩm <i class="bi bi-plus-circle-fill text-primary"></i> </a>
          <a href="/dashboard/products/trashbin" class="d-block py-2">Thùng rác (2)</a>
        </div>
        <div class="">
          <form action="" method="GET">
            <div class="d-flex w-100">
              <div class="input-group w-auto mr-2 mb-2 ml-lg-auto">
                <input type="search" class="form-control" name="product-keyword" placeholder="Nhập từ khóa">
              </div>
              <input type="submit" class="btn-outline-main mb-2" name="search-product" id="search-product" value="Tìm kiếm">
            </div>
          </form>
        </div>
      </div>
      
    </div>

    <div class="gap-sm"></div>
    <div class="card">
      <div class="table-responsive">
      <table class="table table-hover table-striped min-width-700">
        <thead class="thead-check-all">
          <tr>
            <th scope="col" class="tick-col">
              <input type="checkbox" name="check-all" id="check-all" body-target="#tbody">
            </th>
            <th scope="col" class="product-name-col hide-on-checked">Tên sản phẩm</th>
            <th scope="col" class="category-col hide-on-checked">Danh mục</th>
            <th scope="col" class="price-col hide-on-checked">Đơn giá</th>
            <th scope="col" class="action-col hide-on-checked"></th>
            <th scope="col" class="amount-col show-on-checked d-none" colspan="2"></th>
            <th scope="col" class="actions-col text-right show-on-checked d-none" colspan="2">
              <a href="#" class="text-main">Di chuyển vào thùng rác</a>
            </th>
          </tr>
        </thead>
        <tbody id="tbody">
          <tr>
            <td scope="row" class="tick-col">
              <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-1">
            </td>
            <td class="product-name-col">Dell inspiration L123456</td>
            <td class="category-col">Máy tính / Laptop </td>
            <td class="price-col">15000000 </td>
            <td class="action-col">
              <div class="d-flex">
                <a href="/dashboard/products/edit/" class="btn-outline-main ml-auto mr-2">Sửa</a>
                <a class="btn btn-outline-danger">Thùng rác</a>
              </div>
            </td>
          </tr>
          <tr>
            <td scope="row" class="tick-col">
              <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-2">
            </td>
            <td class="product-name-col">Dell inspiration L123456</td>
            <td class="category-col">Máy tính / Laptop </td>
            <td class="price-col">15000000 </td>
            <td class="action-col">
              <div class="d-flex">
                <a href="/dashboard/products/edit/:slug" class="btn-outline-main ml-auto mr-2">Sửa</a>
                <a class="btn btn-outline-danger">Thùng rác</a>
              </div>
            </td>
          </tr>
          <tr>
            <td scope="row" class="tick-col">
              <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-3">
            </td>
            <td class="product-name-col">Dell inspiration L123456</td>
            <td class="category-col">Máy tính / Laptop </td>
            <td class="price-col">15000000 </td>
            <td class="action-col">
              <div class="d-flex">
                <a href="/dashboard/products/edit/:slug" class="btn-outline-main ml-auto mr-2">Sửa</a>
                <a class="btn btn-outline-danger">Thùng rác</a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    

    
    <div class="gap-sm"></div>
    <div class="row">
      <div class="col-lg-6 mb-1">
        <ul class="pagination">
          <li class="page-item"><a class="page-link rounded-circle mr-2" href="#"><i class="bi bi-chevron-left text-primary"></i></a></li>
          <li class="page-item active"><a class="page-link rounded-circle mx-2" href="#">1</a></li>
          <li class="page-item"><a class="page-link rounded-circle mx-2" href="#">2</a></li>
          <li class="page-item"><a class="page-link rounded-circle mx-2" href="#">3</a></li>
          <li class="page-item"><a class="page-link rounded-circle ml-2" href="#"><i class="bi bi-chevron-right text-primary"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-6 d-flex align-items-center mb-1">
        <select class="form-control w-auto ml-lg-auto" name="per-page" id="per-page">
          <option value="10">10 dòng</option>
          <option value="20">20 dòng</option>
          <option value="50">50 dòng</option>
          <option value="100">100 dòng</option>
        </select>
        <span class="ml-2"> trên trang</span>
      </div>
    </div>
    <div class="gap-lg"></div> --}}
        <div class="card card-outline card-info">
      <div class="card-header">
        <h3 class="card-title">
          <div class="d-flex">
          <a href="/dashboard/products/add" class="d-block py-2 mr-lg-4 mr-2">Thêm sản phẩm<i class="bi bi-plus-circle-fill text-primary"></i> </a>
          <a href="/dashboard/products/trashbin" class="d-block py-2">Thùng rác (2)</a>
        </div>
        </h3>
      </div>
      <div class="card-body">
        <table id="example1" class="table table-hover table-striped">
          <thead class="thead-check-all">
            <tr>
              <th scope="col" class="tick-col">
                <input type="checkbox" name="check-all" id="check-all" body-target="#tbody">
              </th>
              <th scope="col" class="product-name-col hide-on-checked">Tên sản phẩm</th>
              <th scope="col" class="category-col hide-on-checked">Danh mục</th>
              <th scope="col" class="price-col hide-on-checked">Đơn giá</th>
              <th scope="col" class="action-col hide-on-checked">  </th>
              <th scope="col" class="amount-col show-on-checked d-none" colspan="2">  </th>
              <th scope="col" class="actions-col text-right show-on-checked d-none" colspan="2">
                <a href="#" class="text-main">Di chuyển vào thùng rác</a>
              </th>
            </tr>
          </thead>
          <tbody id="tbody">
            <tr>
              <td scope="row" class="tick-col">
                <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-1">
              </td>
              <td class="product-name-col">Dell inspiration L123456</td>
              <td class="category-col">Máy tính / Laptop </td>
              <td class="price-col">15000000 </td>
              <td class="action-col">
                <div class="d-flex">
                  <a href="/dashboard/products/edit" class="btn-outline-main ml-auto mr-2">Sửa</a>
                  <a class="btn btn-outline-danger">Thùng rác</a>
                </div>
              </td>
            </tr>
            <tr>
              <td scope="row" class="tick-col">
                <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-2">
              </td>
              <td class="product-name-col">Dell inspiration L123456</td>
              <td class="category-col">Máy tính / Laptop </td>
              <td class="price-col">15000000 </td>
              <td class="action-col">
                <div class="d-flex">
                  <a href="/dashboard/products/edit/:slug" class="btn-outline-main ml-auto mr-2">Sửa</a>
                  <a class="btn btn-outline-danger">Thùng rác</a>
                </div>
              </td>
            </tr>
            <tr>
              <td scope="row" class="tick-col">
                <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-3">
              </td>
              <td class="product-name-col">Dell inspiration L6456</td>
              <td class="category-col">Máy tính / Laptop </td>
              <td class="price-col">15000000 </td>
              <td class="action-col">
                <div class="d-flex">
                  <a href="/dashboard/products/edit/:slug" class="btn-outline-main ml-auto mr-2">Sửa</a>
                  <a class="btn btn-outline-danger">Thùng rác</a>
                </div>
              </td>
            </tr>
              <tr>
              <td scope="row" class="tick-col">
                <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-1">
              </td>
              <td class="product-name-col">Dell inspiration L129999456</td>
              <td class="category-col">Máy tính / Laptop </td>
              <td class="price-col">15000000 </td>
              <td class="action-col">
                <div class="d-flex">
                  <a href="/dashboard/products/edit/" class="btn-outline-main ml-auto mr-2">Sửa</a>
                  <a class="btn btn-outline-danger">Thùng rác</a>
                </div>
              </td>
            </tr>
            <tr>
              <td scope="row" class="tick-col">
                <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-2">
              </td>
              <td class="product-name-col">Dell inspiration L123456</td>
              <td class="category-col">Máy tính / Laptop </td>
              <td class="price-col">15000000 </td>
              <td class="action-col">
                <div class="d-flex">
                  <a href="/dashboard/products/edit/" class="btn-outline-main ml-auto mr-2">Sửa</a>
                  <a class="btn btn-outline-danger">Thùng rác</a>
                </div>
              </td>
            </tr>
            <tr>
              <td scope="row" class="tick-col">
                <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-3">
              </td>
              <td class="product-name-col">Dell inspiration L123456</td>
              <td class="category-col">Máy tính / Laptop </td>
              <td class="price-col">15000000 </td>
              <td class="action-col">
                <div class="d-flex">
                  <a href="/dashboard/products/edit/:slug" class="btn-outline-main ml-auto mr-2">Sửa</a>
                  <a class="btn btn-outline-danger">Thùng rác</a>
                </div>
              </td>
            </tr>
            <tr>
              <td scope="row" class="tick-col">
                <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-1">
              </td>
              <td class="product-name-col">Dell inspiration L123456</td>
              <td class="category-col">Máy tính / Laptop </td>
              <td class="price-col">15000000 </td>
              <td class="action-col">
                <div class="d-flex">
                  <a href="/dashboard/products/edit/" class="btn-outline-main ml-auto mr-2">Sửa</a>
                  <a class="btn btn-outline-danger">Thùng rác</a>
                </div>
              </td>
            </tr>
            <tr>
              <td scope="row" class="tick-col">
                <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-2">
              </td>
              <td class="product-name-col">Dell inspiration L123456</td>
              <td class="category-col">Máy tính / Laptop </td>
              <td class="price-col">15000000 </td>
              <td class="action-col">
                <div class="d-flex">
                  <a href="/dashboard/products/edit/" class="btn-outline-main ml-auto mr-2">Sửa</a>
                  <a class="btn btn-outline-danger">Thùng rác</a>
                </div>
              </td>
            </tr>
            <tr>
              <td scope="row" class="tick-col">
                <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-3">
              </td>
              <td class="product-name-col">Dell inspiration L123456</td>
              <td class="category-col">Máy tính / Laptop </td>
              <td class="price-col">15000000 </td>
              <td class="action-col">
                <div class="d-flex">
                  <a href="/dashboard/products/edit/:slug" class="btn-outline-main ml-auto mr-2">Sửa</a>
                  <a class="btn btn-outline-danger">Thùng rác</a>
                </div>
              </td>
            </tr>
              <tr>
              <td scope="row" class="tick-col">
                <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-1">
              </td>
              <td class="product-name-col">Dell inspiration L123456</td>
              <td class="category-col">Máy tính / Laptop </td>
              <td class="price-col">15000000 </td>
              <td class="action-col">
                <div class="d-flex">
                  <a href="/dashboard/products/edit/" class="btn-outline-main ml-auto mr-2">Sửa</a>
                  <a class="btn btn-outline-danger">Thùng rác</a>
                </div>
              </td>
            </tr>
            <tr>
              <td scope="row" class="tick-col">
                <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-2">
              </td>
              <td class="product-name-col">Dell inspiration L123456</td>
              <td class="category-col">Máy tính / Laptop </td>
              <td class="price-col">15000000 </td>
              <td class="action-col">
                <div class="d-flex">
                  <a href="/dashboard/products/edit/" class="btn-outline-main ml-auto mr-2">Sửa</a>
                  <a class="btn btn-outline-danger">Thùng rác</a>
                </div>
              </td>
            </tr>
            <tr>
              <td scope="row" class="tick-col">
                <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-3">
              </td>
              <td class="product-name-col">Dell inspiration L123456</td>
              <td class="category-col">Máy tính / Laptop </td>
              <td class="price-col">15000000 </td>
              <td class="action-col">
                <div class="d-flex">
                  <a href="/dashboard/products/edit/:slug" class="btn-outline-main ml-auto mr-2">Sửa</a>
                  <a class="btn btn-outline-danger">Thùng rác</a>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
          <tr>
            <th>Check</th>
            <th>Tên bài viết</th>
            <th>Tác giả</th>
            <th>Ngày tạo</th>
            <th> </th>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</main>