<!DOCTYPE html>
<html lang="en">
{{>head}}

<body class="bg-white">
  <div class="container bg-white h-full">
    <main class="">
      {{{body}}}
    </main>
  </div>

  <div id="dark-layer" tg-target="#nav-bar, #dark-layer" class="position-fixed bg-dark-trans-50 vw-100 vh-100"></div>
</body>
{{>dynamic_js/dashboard}}

</html>