@font-face {
  font-family: 'Roboto-Thin';
  src: url('../../fonts/Roboto-Thin.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../fonts/Roboto-Bold.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif, Arial;
  color: #444444;
}

ul, ol{
  list-style: none;
}

a, input, button, textarea{
  border: none;
  outline: none;
}

a:hover{
  text-decoration: none !important;
}

/*custom scrollbar*/
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar:horizontal{
  height: 5px;
}
// ::-webkit-scrollbar-track{
//   background: transparent;
// }
// ::-webkit-scrollbar-thumb{
//   background: #00f5ab;
//   border-radius: 24px;
// }
