<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="card card-info card-outline">
    <div class="card-header">
      <div class="card-title">
        <a href="admins/add">
          <button type="button" class="btn btn-block btn-outline-primary btn-lg">Thêm tài khoản</button>
        </a>
      </div>
    </div>

    <div class="card-body pb-0">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
          <div class="card card-danger card-outline bg-light d-flex flex-fill">
            <div class="card-header text-muted border-bottom-0">
              Quản trị viên
            </div>
            <div class="card-body pt-0">
              <div class="row">
                <div class="col-7">
                  <h2 class="lead"><b>Nguyễn Tuấn Cảnh</b></h2>
                  <ul class="ml-4 mb-0 fa-ul text-muted">
                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Địa chỉ: Demo
                      Street 123, Demo City 04312, NJ</li>
                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Điện thoại: + 800 -
                      12 12 23 52</li>
                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-user"></i></span> Email:
                      canh@example.com</li>
                  </ul>
                </div>
                <div class="col-5 text-center">
                  <img src="https://i.pinimg.com/564x/4e/7f/4f/4e7f4f594ef6331a0f7b0082d7bdb349.jpg" alt="user-avatar"
                    class="img-circle img-fluid">
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="text-right">
                <a href="admins/edit" class="btn btn-sm btn-primary">
                  <i class="fas fa-user"></i> View Profile
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
          <div class="card card-success card-outline bg-light d-flex flex-fill">
            <div class="card-header text-muted border-bottom-0">
              Quản trị viên
            </div>
            <div class="card-body pt-0">
              <div class="row">
                <div class="col-7">
                  <h2 class="lead"><b>Phạm Anh Tú</b></h2>
                  <ul class="ml-4 mb-0 fa-ul text-muted">
                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Địa chỉ: Demo
                      Street 123, Demo City 04312, NJ</li>
                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Điện thoại: + 800 -
                      12 12 23 52</li>
                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-user"></i></span> Email:
                      canh@example.com</li>
                  </ul>
                </div>
                <div class="col-5 text-center">
                  <img src="https://i.pinimg.com/564x/4e/7f/4f/4e7f4f594ef6331a0f7b0082d7bdb349.jpg" alt="user-avatar"
                    class="img-circle img-fluid">
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="text-right">
                <a href="#" class="btn btn-sm btn-primary">
                  <i class="fas fa-user"></i> View Profile
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

</section>