//
// Pages: 400 and 500 error pages
//

@import "../components/variables.scss";

.error-page {
  margin: 20px auto 0;
  width: 600px;

  @media screen and (max-width: $tablet) {
    width: 100%;
  }

  //For the error number e.g: 404
  > .headline {
    float: left;
    font-size: 100px;
    font-weight: 300;

    @media screen and (max-width: $tablet) {
      float: none;
      text-align: center;
    }
  }

  //For the message
  > .error-content {
    display: block;
    margin-left: 190px;

    @media screen and (max-width: $tablet) {
      margin-left: 0;
    }

    > h3 {
      font-size: 25px;
      font-weight: 300;

      @media screen and (max-width: $tablet) {
        text-align: center;
      }
    }
  }
}
