<div class="container">
  <div class="d-none d-lg-block">
    <div class="gap-xl"></div>
    <div class="gap-xl"></div>
    <div class="gap-xl"></div>
  </div>

  
  <div class="error-page">
    <h2 class="headline text-danger">500</h2>

    <div class="error-content">
      <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Something went wrong.</h3>

      <p>
        Chúng tôi không thể tìm thấy trang bạn yêu cầu.
        Trong lúc này, bạn có thể <a href="/">trở về bảng điều khiển</a> hoặc sử dụng thanh tìm kiếm ở dưới.
      </p>

      <form class="search-form">
        <div class="input-group">
          <input type="text" name="search" class="form-control" placeholder="Search">

          <div class="input-group-append">
            <button type="submit" name="submit" class="btn btn-danger"><i class="fas fa-search"></i>
            </button>
          </div>
        </div>
        <!-- /.input-group -->
      </form>
    </div>
  </div>
</div>