<form method="POST" action="" enctype="multipart/form-data">
  <p>This site is developing</p>
  <div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="myfile" accept="image/*" multiple>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput">Example label</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder"
      name="label1">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Another label</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder"
      name="label2">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>