<div class="login-page" style="min-height: 466px;">

  <div id="error-box">

  </div>

  <div class="login-box">

    {{!-- /.login-logo --}}
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a href="/" class="h1"><b>VVV</b>Shop</a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Vui lòng điền thông tin để xác thực</p>

        <form method="post" id="login-form">
          <div class="input-group mb-3">
            <input name="email" type="text" class="form-control" placeholder="Email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 m-auto">
              <button type="submit" class="btn btn-primary btn-block">Xác nhận</button>
            </div>
            {{!-- /.col --}}
          </div>
        </form>

        <p class="mb-1">
          <a href="/auth/login">Đăng nhập</a>
        </p>
      </div>
      {{!-- /.card-body --}}
    </div>
    {{!-- /.card --}}
  </div>
  {{!-- /.login-box --}}
</div>


<script>
  const API_URL = "/api/auth/forgot";
  
  document.addEventListener("DOMContentLoaded", async function () {
    $(document).ready(function () {
      
      // functions here
      $("#login-form").on("submit", function (e) {
        e.preventDefault();
      });
      $("#login-form").on("submit", async function () {
        const email = $(this).find('input[name="email"]').val();
  
        try {
          const btn = $(this).find('button[type="submit"]');
          btn.html(`
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          Loading...
          `);
          const { data } = await axios.get(API_URL + "/" + email);
          localStorage.setItem("auth_token", data);
          const successHTML = `
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong> ${data.message} </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            `
          $("#error-box").html(successHTML);
          btn.html(` xác nhận `);
        } catch ({ response }) {
          const errorHTML = response.data.errors.map((current) => {
            return `
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong> ${current} </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            `;
          });
          $("#error-box").html(errorHTML);
          $(this).find('button[type="submit"]').html(` xác nhận `);
        }
      })
    });
  })
</script>