<main class="overflow-x-hiden overflow-y-auto">
  <div class="gap-md"></div>
  <div class="container-fluid">
    <div class="card card-outline card-info">
      <div class="card-header">
        Thông tin đơn hàng
      </div>
      <div class="card-body">
        <table id="example1" class="table table-hover table-striped">
          <thead class="thead-check-all">
            <tr>
              <th scope="col" class="tick-col">
                <input type="checkbox" name="check-all" id="check-all" body-target="#tbody">
              </th>
              <th scope="col" class="product-name-col hide-on-checked">Mã đơn hàng</th>
              <th scope="col" class="category-col hide-on-checked">Người mua hàng</th>
              <th scope="col" class="price-col hide-on-checked">Thời gian</th>
              <th scope="col" class="action-col hide-on-checked">  </th>
              <th scope="col" class="amount-col show-on-checked d-none" colspan="2">  </th>
              <th scope="col" class="actions-col text-right show-on-checked d-none" colspan="2">
                <a href="#" class="text-main">Di chuyển vào thùng rác</a>
              </th>
            </tr>
          </thead>
          <tbody id="tbody">
            <tr>
              <td scope="row" class="tick-col">
                <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-1">
              </td>
              <td class="product-name-col">Dell inspiration L123456</td>
              <td class="category-col">Máy tính / Laptop </td>
              <td class="price-col">15000000 </td>
              <td class="action-col">
                <div class="d-flex">
                  <a href="/dashboard/products/edit" class="btn-outline-main ml-auto mr-2">Sửa</a>
                  <a class="btn btn-outline-danger">Thùng rác</a>
                </div>
              </td>
            </tr>
            <tr>
              <td scope="row" class="tick-col">
                <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-2">
              </td>
              <td class="product-name-col">Dell inspiration L123456</td>
              <td class="category-col">Máy tính / Laptop </td>
              <td class="price-col">15000000 </td>
              <td class="action-col">
                <div class="d-flex">
                  <a href="/dashboard/products/edit/:slug" class="btn-outline-main ml-auto mr-2">Sửa</a>
                  <a class="btn btn-outline-danger">Thùng rác</a>
                </div>
              </td>
            </tr>
            <tr>
              <td scope="row" class="tick-col">
                <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-3">
              </td>
              <td class="product-name-col">Dell inspiration L6456</td>
              <td class="category-col">Máy tính / Laptop </td>
              <td class="price-col">15000000 </td>
              <td class="action-col">
                <div class="d-flex">
                  <a href="/dashboard/products/edit/:slug" class="btn-outline-main ml-auto mr-2">Sửa</a>
                  <a class="btn btn-outline-danger">Thùng rác</a>
                </div>
              </td>
            </tr>
              <tr>
              <td scope="row" class="tick-col">
                <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-1">
              </td>
              <td class="product-name-col">Dell inspiration L129999456</td>
              <td class="category-col">Máy tính / Laptop </td>
              <td class="price-col">15000000 </td>
              <td class="action-col">
                <div class="d-flex">
                  <a href="/dashboard/products/edit/" class="btn-outline-main ml-auto mr-2">Sửa</a>
                  <a class="btn btn-outline-danger">Thùng rác</a>
                </div>
              </td>
            </tr>
            <tr>
              <td scope="row" class="tick-col">
                <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-2">
              </td>
              <td class="product-name-col">Dell inspiration L123456</td>
              <td class="category-col">Máy tính / Laptop </td>
              <td class="price-col">15000000 </td>
              <td class="action-col">
                <div class="d-flex">
                  <a href="/dashboard/products/edit/" class="btn-outline-main ml-auto mr-2">Sửa</a>
                  <a class="btn btn-outline-danger">Thùng rác</a>
                </div>
              </td>
            </tr>
            <tr>
              <td scope="row" class="tick-col">
                <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-3">
              </td>
              <td class="product-name-col">Dell inspiration L123456</td>
              <td class="category-col">Máy tính / Laptop </td>
              <td class="price-col">15000000 </td>
              <td class="action-col">
                <div class="d-flex">
                  <a href="/dashboard/products/edit/:slug" class="btn-outline-main ml-auto mr-2">Sửa</a>
                  <a class="btn btn-outline-danger">Thùng rác</a>
                </div>
              </td>
            </tr>
            <tr>
              <td scope="row" class="tick-col">
                <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-1">
              </td>
              <td class="product-name-col">Dell inspiration L123456</td>
              <td class="category-col">Máy tính / Laptop </td>
              <td class="price-col">15000000 </td>
              <td class="action-col">
                <div class="d-flex">
                  <a href="/dashboard/products/edit/" class="btn-outline-main ml-auto mr-2">Sửa</a>
                  <a class="btn btn-outline-danger">Thùng rác</a>
                </div>
              </td>
            </tr>
            <tr>
              <td scope="row" class="tick-col">
                <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-2">
              </td>
              <td class="product-name-col">Dell inspiration L123456</td>
              <td class="category-col">Máy tính / Laptop </td>
              <td class="price-col">15000000 </td>
              <td class="action-col">
                <div class="d-flex">
                  <a href="/dashboard/products/edit/" class="btn-outline-main ml-auto mr-2">Sửa</a>
                  <a class="btn btn-outline-danger">Thùng rác</a>
                </div>
              </td>
            </tr>
            <tr>
              <td scope="row" class="tick-col">
                <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-3">
              </td>
              <td class="product-name-col">Dell inspiration L123456</td>
              <td class="category-col">Máy tính / Laptop </td>
              <td class="price-col">15000000 </td>
              <td class="action-col">
                <div class="d-flex">
                  <a href="/dashboard/products/edit/:slug" class="btn-outline-main ml-auto mr-2">Sửa</a>
                  <a class="btn btn-outline-danger">Thùng rác</a>
                </div>
              </td>
            </tr>
              <tr>
              <td scope="row" class="tick-col">
                <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-1">
              </td>
              <td class="product-name-col">Dell inspiration L123456</td>
              <td class="category-col">Máy tính / Laptop </td>
              <td class="price-col">15000000 </td>
              <td class="action-col">
                <div class="d-flex">
                  <a href="/dashboard/products/edit/" class="btn-outline-main ml-auto mr-2">Sửa</a>
                  <a class="btn btn-outline-danger">Thùng rác</a>
                </div>
              </td>
            </tr>
            <tr>
              <td scope="row" class="tick-col">
                <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-2">
              </td>
              <td class="product-name-col">Dell inspiration L123456</td>
              <td class="category-col">Máy tính / Laptop </td>
              <td class="price-col">15000000 </td>
              <td class="action-col">
                <div class="d-flex">
                  <a href="/dashboard/products/edit/" class="btn-outline-main ml-auto mr-2">Sửa</a>
                  <a class="btn btn-outline-danger">Thùng rác</a>
                </div>
              </td>
            </tr>
            <tr>
              <td scope="row" class="tick-col">
                <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-3">
              </td>
              <td class="product-name-col">Dell inspiration L123456</td>
              <td class="category-col">Máy tính / Laptop </td>
              <td class="price-col">15000000 </td>
              <td class="action-col">
                <div class="d-flex">
                  <a href="/dashboard/products/edit/:slug" class="btn-outline-main ml-auto mr-2">Sửa</a>
                  <a class="btn btn-outline-danger">Thùng rác</a>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
          <tr>
            <th>Check</th>
            <th>Mã đơn hàng</th>
            <th>Người mua hàng</th>
            <th>Thời gian</th>
            <th> </th>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</main>