<header class="header">
  <div class="d-flex wrap-header">
    <div class="wrap-breadcrumb">
      <ul class="my-breadcrumb">
        <li class="my-breadcrumb-item">
          <a href="#" class="my-breadcrumb-link">Trang chủ</a>
        </li>
        <li class="my-breadcrumb-item">
          <a href="#" class="my-breadcrumb-link">Bảng điều khiển</a>
        </li>
        <li class="my-breadcrumb-item">
          <a href="#" class="my-breadcrumb-link">Sản phẩm</a>
        </li>
      </ul>
    </div>
    <div class="wrap-avatar">

    </div>
  </div>
</header>