<header class="header">
  <div class="wrap-header d-flex justify-content-between align-items-center">
    <button class="d-lg-none d-block nav-toggler" tg-target="#nav-bar" id="nav-toggler">
      <img src="/images/icons/menu.svg" style="width: 100%;" alt="">
    </button>
    <div class="wrap-breadcrumb d-lg-block d-none">
      <ul class="my-breadcrumb">
        <li class="my-breadcrumb-item">
          <a href="#" class="my-breadcrumb-link">Trang chủ</a>
        </li>
        <li class="my-breadcrumb-item">
          <a href="#" class="my-breadcrumb-link">Bảng điều khiển</a>
        </li>
        <li class="my-breadcrumb-item">
          <a href="#" class="my-breadcrumb-link">Sản phẩm</a>
        </li>
      </ul>
    </div>
    <div class="wrap-logo">
      <div class="brand-logo">
        <img src="/images/logo/logoVVV_text-01.png" alt="">
      </div>
      <div class="gap-xs"></div>
    </div>
  </div>
</header>