<div class="row">
<div class="col-md-12">
  <div class="card card-outline card-info">
  <div class="card-header">
    <h3 class="card-title">
      Soạn bài viết
    </h3>
    <ul class="header-dropdown m-r--5" style="display: inline-block; float: right;">
      <a id="thembaiviet" href="#" class="btn bg-cyan btn-primary waves-effect m-b-15">
        ĐĂNG BÀI VIẾT
      </a>
    </ul>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <textarea id="summernote">
      <h1>Tên bài viết</h1>
      <br>
      <p>Nội dung bài viết</p>
    </textarea>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function(){
    $(function () {
      // Summernote
      $('#summernote').summernote()
    });
    $("#thembaiviet").on('click', function(e){
      e.preventDefault();
      var html = $('#summernote').summernote('code');
      console.log(html);
    });
  });

</script>