<div class="row">
  <div class="col-md-12">
    <div class="card card-outline card-info">
      <div class="card-header">
        <a id="add" href="javascript:void(0)" supplier-id="{{supplier._id}}" class="btn bg-cyan btn-primary waves-effect m-b-15">
          LƯU THAY ĐỔI
        </a>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div id="error-box">

        </div>
        <form method="POST" onsubmit="event.preventDefault();">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="d-block" for="images">Logo</label>
                <div class="preview-image lg has-bg mb-2 ml-0" id="preview-image">
                  <div class="img-box">
                    <div class="close-btn">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x"
                        viewBox="0 0 16 16">
                        <path
                          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                      </svg>
                    </div>
                    <img src="{{supplier.image}}" alt="vvvimg" />
                  </div>
                </div>
                <a id="imgs-uploader" href="javascript:void(0)" class="img-upload-btn">
                  <label for="images" class="d-inline-block">Tải ảnh lên</label>
                </a>
                <input type="file" name="images[]" id="images" class="d-none" accept="image/*">
              </div>
            </div>
            <div class="col-md-9">
              <div class="form-group">
                <label for="name">Tên nhà cung cấp</label>
                <input type="text" class="form-control" id="name" placeholder="Tên nhà cung cấp" value="{{supplier.name}}">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    $(document).ready(function () {

      $(document).on("click", ".preview-image .close-btn", function () {
        const parents = $(this).parents(".img-box");
        parents.slideUp(400);
        setTimeout(() => {
          parents.remove();
        }, 400)
      });

      const readImg = function (event) {
        const reader = new FileReader();
        reader.onload = function () {
          const src = reader.result;
          const html = `
            <div class="img-box">
              <div class="close-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x"
                  viewBox="0 0 16 16">
                  <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
              </div>
              <img src="${src}" alt="vvvimg" />
            </div>
          `;
          $("#preview-image").html(html);
        }
        reader.readAsDataURL(event.target.files[0]);
        $("#images").val("");
      };

      $("#images").on("input", function (event) {
        readImg(event);
      });

      $("#add").on("click", async function () {

        // get data
        let image;
        if ($("#preview-image img").length){
          image = $("#preview-image img").attr("src");
        } else {
          image = "http://placeimg.com/640/480/cats";
        }
        const name = $("#name").val();

        const body = { name, image };


        // post data
        const id = $(this).attr("supplier-id");
        const API_URL = '/api/suppliers/' + id;
        const token = localStorage.getItem("auth_token");


        try {
          // for loading animation
          $(this).html(`
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          Loading...
          `);

          const { data } = await axios.put(API_URL, body, {
            headers: {
              auth_token: token,
            }
          });

          alert("Chỉnh sửa nhà cung cấp thành công");
          location.href = "/dashboard/suppliers";
        } catch ({ response }) {
          const errorHTML = response.data.errors.map((current) => {
            return `
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong> ${current} </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            `;
          });
          $("#error-box").html(errorHTML);
          // end animation when error
          $(this).html(`LƯU THAY ĐỔI`);
        }
      });
    });
  });

</script>