<div class="row">
  <div class="col-md-4">
    <div class="card card-outline card-info">
      <div class="card-header">
        <a id="add" href="javascript:void(0)" class="btn bg-cyan btn-primary waves-effect m-b-15">
          THÊM NHÀ CUNG CẤP
        </a>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div id="error-box">
        </div>
        <form method="POST" onsubmit="event.preventDefault();">
          <div class="col-md-12">
            <div class="form-group">
              <label for="name">Tên nhà cung cấp</label>
              <input type="text" class="form-control" id="name" placeholder="Tên nhà cung cấp">
            </div>
            <div class="form-group">
              <label class="d-block" for="images">Logo</label>
              <div class="preview-image lg has-bg mb-2 ml-0" id="preview-image">

              </div>
              <a id="imgs-uploader" href="javascript:void(0)" class="img-upload-btn">
                <label for="images" class="d-inline-block">Tải ảnh lên</label>
              </a>
              <input type="file" name="images[]" id="images" class="d-none" accept="image/*">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-outline card-info">
      <table id="example1" class="table table-hover table-striped">
        <thead class="thead-check-all">
          <tr>
            <th scope="col" class="tick-col">
              <input type="checkbox" name="check-all" id="check-all" body-target="#tbody">
            </th>
            <th scope="col" class="product-name-col hide-on-checked">Logo</th>
            <th scope="col" class="supplier-col hide-on-checked">Tên</th>
            <th scope="col" class="price-col hide-on-checked">Ngày thêm</th>
            <th scope="col" class="action-col hide-on-checked"> </th>
            <th scope="col" class="amount-col show-on-checked d-none" colspan="2"> </th>
            <th scope="col" class="actions-col text-right show-on-checked d-none" colspan="2">
              <a href="#" class="text-main">Di chuyển vào thùng rác</a>
            </th>
          </tr>
        </thead>
        <tbody id="tbody">
          {{#each suppliers as |supplier|}}
          <tr>
            <td scope="row" class="tick-col">
              <input type="checkbox" name="check-arr[]" class="check-ele" id="check-ele-1">
            </td>
            <td class="product-name-col">
              <img style="width:45px;" src="{{supplier.image}}" alt="logo">
            </td>
            <td class="supplier-col">{{supplier.name}}</td>
            <td class="price-col">{{convertDate supplier.createdAt}} </td>
            <td class="action-col">
              <div class="d-flex">
                <a href="/dashboard/suppliers/{{supplier.slug}}" class="btn-outline-main ml-auto mr-2">Sửa</a>
              </div>
            </td>
          </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <th>Check</th>
            <th>Logo</th>
            <th>Tên</th>
            <th>Ngày thêm</th>
            <th> </th>
          </tr>
        </tfoot>
      </table>


    </div>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    $(document).ready(function () {


      $(document).on("click", ".preview-image .close-btn", function () {
        const parents = $(this).parents(".img-box");
        parents.slideUp(400);
        setTimeout(() => {
          parents.remove();
        }, 400)
      });

      const readImg = function (event) {
        const reader = new FileReader();
        reader.onload = function () {
          const src = reader.result;
          const html = `
            <div class="img-box">
              <div class="close-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x"
                  viewBox="0 0 16 16">
                  <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
              </div>
              <img src="${src}" alt="vvvimg" />
            </div>
          `;
          $("#preview-image").html(html);
        }
        reader.readAsDataURL(event.target.files[0]);
        $("#images").val("");
      };

      $("#images").on("input", function (event) {
        readImg(event);
      });

      $("#add").on("click", async function () {

        // get data
        let image;
        if ($("#preview-image img").length){
          image = $("#preview-image img").attr("src");
        } else {
          image = "http://placeimg.com/640/480/cats";
        }
        const name = $("#name").val();

        const body = { name, image };


        // post data
        const API_URL = '/api/suppliers/';
        const token = localStorage.getItem("auth_token");


        try {
          // for loading animation
          $(this).html(`
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          Loading...
          `);

          const { data } = await axios.post(API_URL, body, {
            headers: {
              auth_token: token,
            }
          });

          alert("Thêm nhà cung cấp thành công");
          location.href = "/dashboard/suppliers";
        } catch ({ response }) {
          const errorHTML = response.data.errors.map((current) => {
            return `
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong> ${current} </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            `;
          });
          $("#error-box").html(errorHTML);
          // end animation when error
          $(this).html(`Thêm nhà cung cấp`);
        }
      });
    });
  });

</script>